@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  background-color: #141526;
  color: #e3e4ec;

  font-family: 'Varela Round', sans-serif;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  list-style: none;
  text-decoration: none;

} /* Reset*/

