.formsignup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 700px;
    margin: 100px auto;

    animation: increase .15s ease-out;
}

.formsignup-container input {
    display: flex;
    align-items: flex-start;

    width: 95%;

    margin-bottom: 20px;
    

    background-color: #171a30;

    border-radius: 30px 0;
    border: none;
    outline: none;

    resize: none;

    padding: 30px;

    font-size: 1.3rem;
    color: #e3e4ec;

    transition: .2s ease;

}

.formsignup-container input:focus {
    border-top: 1.5px solid rgb(30, 124, 201);
    border-bottom: 1.5px solid rgb(30, 124, 201);

    box-shadow: 0px 0px 5px rgba(30, 124, 201, .7);

    width: 100%;

}

.formsignup-container input::placeholder {

    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.6);
}

.formsignup-container button{
    width: 30%;
    height: 50px;

    color: rgba(255, 255, 255, 0.8);
    
    background-color: rgb(30, 124, 201);

    border: none;
    border-radius: 30px;

    outline: none;

    margin-top: 20px;

    font-size: 1.3rem;
    
    cursor: pointer;

    transition: .4s ease;
}

.formsignup-container button:hover {
    color: #fff;

    width: 31%;
    height: 50px;
}


@keyframes increase {
    from {
        transform: scale(.1);
    }
    to {
        transform: scale(1);

    }
}