.navegador {
    background-color: rgba(0, 0, 0, .8);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 40px;
}

.navegador .link-navegador {
    display: block;

    padding: 8px;

    color: #fff;

    text-decoration: none;
}

.navegador .link-navegador:hover {
    background-color: rgba(0, 0, 0, .5);
}

.navegador .link-navegador.active{
    border-bottom: 2px solid #fff;
}